@charset "utf-8";
:root {
    --main-color: #1e1e1e;
    --text-grey: #7e7e7e;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body{
    font-size:0.85vw;
    font-family: 'Noto Sans KR', sans-serif;
}

header{
    width: 100%;
    position: relative;
}
header #nav{
    margin: auto;
    width: 100%;
    height: 108px;
    background: #202020;
    position: fixed;
    z-index: 102;
}

#nav .hamb{
    display: none;
    position: absolute;
    z-index: 5;
    margin: auto;
    margin-top: 20px;
    padding-left: 20px;
    fill: #fff;
}

#nav .show {
    width: 100%;
    transform: translateY(-108px);
    transition: all .25s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100
}

#nav .hide {
    transform: translateY(0);
    transition: all .25s ease-in-out;
}

header #nav #nav-upper{
    display: flex;
    border-bottom: 1px solid #393939;
}

header #nav #nav-upper #logo{
    padding: 0 20px;
    vertical-align: top;
    position: relative;
}

header #nav #nav-upper #logo img.logo2{
    display: none;
}

header #nav #nav-upper #header-right{
    display: flex;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 0 20px;
}
header #nav #nav-upper select{
    background: black;
    color:white;
    width: 45px;
    height: 20px;
    font-size:16px;
    border: 1px solid #707070;
    border-radius: 10px;
    margin-top: 21px;
}
header #nav #nav-upper p:nth-of-type(1),
header #nav #nav-upper p:nth-of-type(2){
    font-size: 16px;
    margin: 18px 0px 0px 20px;
    cursor: pointer;
    color: white;
    font-family: 'Noto Sans KR';
}
header #nav #nav-upper p:nth-of-type(1){
    position: relative;
}
header #nav #nav-upper p:nth-of-type(1)::after{
    content: '';
    width: 2px;
    height: 16px;
    background: white;
    position: absolute;
    top: 4px;
    right: -10px;
}

header #nav #nav-lower{
    height: 48px;
    margin: auto;
    display: block;
    transition: all 0.5s;
}

header #nav #nav-lower ul{
    display: flex;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    width: 70%;
}

header #nav #nav-lower ul li{
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 18px;
    margin: 0 auto;
    cursor: pointer;
    list-style: none;
}

header #nav #nav-lower ul li p{
    font-size: 16px;
    color: white;
}

header #nav #nav-lower #join2, #login2{
    display: none;
}

header #nav #nav-lower #join2 p, header #nav #nav-lower #login2 p{
    color: #EE1D23;
    font-weight: 400;
}

#main{
    width:100%;
    height:80vh;
    background: url(../images/가디언즈메인베너.jpg) top/cover no-repeat;
    position: relative;
}

#main::before{
    content: '';
    width:50%;
    height:100%;
    position: absolute;
    z-index:2;
    background:
    linear-gradient(to right, #181818 0, 
    rgba(23,23,23,0.98) 20%,
    rgba(23,23,23,0.95) 25%,
    rgba(23,23,23,0.92) 30%,
    rgba(23,23,23,0.9) 35%,
    rgba(23,23,23,0.87) 40%,
    rgba(23,23,23,0.82) 45%,
    rgba(23,23,23,0.75) 50%,
    rgba(23,23,23,0.63) 55%,
    rgba(23,23,23,0.47) 60%,
    rgba(23,23,23,0.27) 65%,
    rgba(23,23,23,0.08) 80%,
    rgba(23,23,23,0.03) 95%,
    rgba(23,23,23,0.0) 100%);
    left:0;
    top:0;
}

#main .title{
    width:425px;
    height:287px;
    background: url(../images/가디언즈로고.png) 100%/100% no-repeat;
    position: absolute;
    top:30%;
    left:5%;
    z-index:3;
}

#main2{
    margin-bottom: 50px;
}

#main2 ul{
    position: absolute;
    width: 500px;
    z-index: 10;
    top:55%;
    left:5%;
    color:white;
    font-size: 16px;
    line-height: 30px;
}

#main2 li{
    padding-top: 12px;
}
#main2 li:nth-of-type(1){
    color: white;
    font-size: 24px;
    line-height: 28px;
}
#main2 li:nth-of-type(2),
#main2 li:nth-of-type(4){
    line-height: 20px;
    color:var(--text-grey);
    font-weight: bold;
}

#main2 li:nth-of-type(3){
    line-height: 24px;
}

#content{
    width:85%;
    margin: auto;    
}
#content figure{
    width:100%;
    height:60px;
    background: linear-gradient(to right,
     #303030 0, 
     rgb(37, 37, 37) 100%);
     box-shadow: 0.5px 0.5px 10px rgb(29, 29, 29) ;
     display: flex;
     flex-wrap: wrap;
     position: relative;
}
#content figure img{
    width: 33px;
    height: 60px;
    position: absolute;
    left: 30px;
    top: 0;
    z-index: 3;
}

#content figure button{
    width: 125px;
    background: rgb(252, 20, 20);
    font-size: 14px;
    color:white;
    border:0;
    outline: 0;;
    border-radius: 0.5em;
    height:36px;
    position: absolute;
    right: 30px;
    top:14px;
    z-index: 3;
    cursor: pointer;
}

#content div.line{
    width:100%;
    height:auto;
    padding: 3% 0 3% 0;    
    text-align: center;
    margin-top: 50px;
    position: relative;
}
#content div.line::before{
    content:'';
    position: absolute;
    width:100%;
    height:1px;
    background: linear-gradient(to right, #777 0 , rgb(109, 109, 109,0.1) 50%,#777 100%);
    z-index: 3;
    left:0;
    top:0;
}
#content div.line::after{
    content:'';
    position: absolute;
    width:100%;
    height:1px;
    background: linear-gradient(to right, #777 0 , rgb(109, 109, 109,0.1) 50%,#777 100%);
    z-index: 3;
    left:0;
    bottom:0;
}
#content div.line p{
    color: var(--main-color);
    box-sizing: border-box;
    font: 16px/24px 'Noto Sans KR';
    font-weight: 600;
}
#content section{
    width:100%;
    margin-top: 5%;
}

#content section #vidtitle{
    width:30%;
    height:7vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#content section #vidtitle dt{
    color:var(--main-color);
    font-size:30px;
}
#content section #vidtitle dd{
    position: relative;
    margin-left: 20px;
    margin-top: 15px;
    font-size:16px;
}

#content section #vidtitle dd::before{
    content:'';
    position: absolute;
    left:-10px;
    top:0;
    width:1px;
    height:30px;
    background: var(--main-color);
}

#content section ul{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#content section li{
    color:white;
    flex: 0 1 48%;
    margin: 1%;
}

#content section li iframe{
    width:620px;
    height: 360px;
}
#content div#detail{
    width:100%;
    margin-top: 5%;
}
#detail .contentlogo{
    width: 130px;
    height: 60px;
}
#content div#detail p.txt1{
    width:40%;
    height: 3vh;
    color:var(--main-color);
    font-size: 24px;
    margin-top: 1em;
}
#content div#detail ul{
    width:100%;
    margin-top: 2%;
    justify-content: center;
}
#detail .character{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#detail .character li{
    flex: 0 1 12%;
    margin: 1%;
}
#detail .character li dl{
    width: 200px;
    height: 370px;
    margin: auto;
}
#detail .character li dt{
    width: 200px;
    height: 288px;
    cursor: pointer;
}
#detail .character li dd:nth-of-type(1){
    width: 200px;
    height: 10px;
    background: #EE1D23;
}
#detail .character li dd:nth-of-type(2){
    width: 200px;
    height: 72px;
    background: var(--main-color)
}
#detail .character li dd:nth-of-type(2) p{
    font-size: 24px;
    color: white;
    margin-left: 16px;
    transform: translateY(50%);
}
#detail .character li:nth-of-type(1) dt{
    background: url(../images/캡틴마블캐릭터/스타로드.jpg)center/cover;
}
#detail .character li:nth-of-type(2) dt{
    background: url(../images/캡틴마블캐릭터/로켓.jpg)center/cover;
}
#detail .character li:nth-of-type(3) dt{
    background: url(../images/캡틴마블캐릭터/그루트.jpg)center/cover;
}
#detail .character li:nth-of-type(4) dt{
    background: url(../images/캡틴마블캐릭터/드렉스.jpg)center/cover;
}
#detail .character li:nth-of-type(5) dt{
    background: url(../images/캡틴마블캐릭터/멘티스.jpg)center/cover;
}
#detail .character li:nth-of-type(6) dt{
    background: url(../images/캡틴마블캐릭터/네뷸라.jpg)center/cover;
}

#detail .character li dt:hover{
    background-size: 140%;
}

article{
    width: 100%;
    margin-top: 3%;
    padding-top: 2%;
    background: var(--main-color);
}
article #content2{
    width: 85%;
    margin: auto;
}
article p.details{
    font: 700 30px/30px 'Noto Sans KR';
    color: white;
}
article #content2 ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    font-size: 16px;
    justify-content: center;
}
article #content2 ul li{
    flex: 0 1 300px;
}
article #content2 ul dl{
    padding: 60px 0;
}
article #content2 ul dt{
    color: #5e5e5e;
}

article #content2 ul li:nth-of-type(7) dt,
article #content2 ul li:nth-of-type(8) dt,
article #content2 ul li:nth-of-type(9) dt,
article #content2 ul li:nth-of-type(10) dt{
    color: white;
    margin-top: 16px;
}

article #content2 ul dd{
    color: white;
    width: 240px;
}
article #content3{
    width: 85%;
    margin: auto;
    margin-top: 5%;
}
article #content3 p.similar{
    font: 700 30px/30px 'Noto Sans KR';
    color: white;
    margin-bottom: 3%;
}
article #content3 ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
article #content3 ul li{
    background: red;
    flex: 0 1 310px;
    height: 180px;
    margin: 5px;
    border: 1px solid #707070;
    cursor: pointer;
}
article #content3 ul li:nth-of-type(1){
    background: url(../images/블랙위도우2021.jpg)center/cover;
}
article #content3 ul li:nth-of-type(2){
    background: url(../images/스파이더맨파2019.jpg)center/cover;
}
article #content3 ul li:nth-of-type(3){
    background: url(../images/엔드게임2019.jpg)center/cover;
}
article #content3 ul li:nth-of-type(4){
    background: url(../images/앤트맨와스프2018.jpg)center/cover;
}
article #content3 ul li:nth-of-type(5){
    background: url(../images/인피니티워2018.jpg)center/cover;
}
article #content3 ul li:nth-of-type(6){
    background: url(../images/블랙팬서2018.jpg)center/cover;
}
article #content3 ul li:nth-of-type(7){
    background: url(../images/토르\ 라그나로크2017.jpg)center/cover;
}
article #content3 ul li:nth-of-type(8){
    background: url(../images/스파이더홈2017.jpg)center/cover;
}
article #content3 ul li:nth-of-type(9){
    background: url(../images/가오갤2\ 2017.jpg)center/cover;
}
article #content3 ul li:nth-of-type(10){
    background: url(../images/닥터스트레인지2016.jpg)center/cover;
}

article #content3 ul li:hover{
    background-size: 110%;
}

article #content4{
    width: 85%;
    margin: auto;
    margin-top: 5%;
}
article #content4 p.notice{
    font: 700 30px/30px 'Noto Sans KR';
    color: white;
    margin-bottom: 3%;
}
article #content4 ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
article #content4 li{
    flex: 0 1 48%;
    margin: 1%;
}
article #content4 li dl{
    width: 520px;
    height: 395px;
    margin: auto;
}

article #content4 li dt{
    width: 520px;
    height: 320px;
    border: 1px solid #707070;
}

article #content4 li:nth-of-type(1) dt{
    background: url(../images/더마블스.jpg)center/cover;
}
article #content4 li:nth-of-type(2) dt{
    background: url(../images/캡틴아메리카.jpg)center/cover;
}
article #content4 li dd:nth-of-type(1){
    font-size: 16px;
    color: white;
}
article #content4 li dd:nth-of-type(2){
    width: 520px;
    height: 60px;
    font-size: 14px;
    letter-spacing: -0.65px;
    color: var(--text-grey);
}
footer{
    width:100%;
    background:var(--main-color);
    padding-top: 10%;
}
footer #footerbox{
    width: 85%;
    margin: auto;
}
footer p:nth-of-type(1){
    font-size: 16px;
    color: white;
    margin: 0 0 30px;
}
footer ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: white;
    flex-direction: row;
}
footer li:nth-of-type(1),
footer li:nth-of-type(2),
footer li:nth-of-type(3){
    flex: 0 1 20%;
    font-size: 14px;
}
footer li dl{
    height: 115px;
}
footer li dl dt, footer li dd{
    margin-bottom: 18px;
    cursor: pointer;
}
footer li:nth-of-type(4){
    flex: 0 1 40%;
    position: relative;
}
footer li:nth-of-type(4) dl{
    width: 170px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}
footer li:nth-of-type(4) dt{
    flex: 0 1 100%;
    text-align: center;
    font-size: 20px;
}
footer li:nth-of-type(4) dd{
    flex: 0 1 33.3%;
    font-size: 30px;
    text-align: center;
}
footer p:nth-of-type(2){
    color: var(--text-grey);
    text-align: center;
    padding: 60px;
    font-size: 16px;
}
#main::after{background: none;}

/* 태블릿 */
@media screen and (max-width: 1200px){
    header #nav{
        height: auto;
    }
    #nav .hamb{
        display: block;
        cursor: pointer;
        transform: translateY(0%);
        top:0;
        z-index: 0;
    }
    header #nav #nav-upper #logo{
        margin: auto;
    }
    header #nav #nav-lower{
        height: 100%;
        width: 65%;
        margin: auto;
        background: #202020;
        position: fixed;
        z-index: 101;
        left: -65%;
    }
    
    header #nav #nav-lower ul{
        display: block;
        margin: 0;
        text-align: left;
        width: 100%;
    }
    
    header #nav #nav-lower ul li{
        font-weight: 700;
        padding: 28px 24px;
        margin: 0 auto;
}
    header #nav #nav-lower ul li p{
        font-size: 18px;
}

    header #nav #nav-lower.on{
        left: 0;
    }

    #join, #login{
        display: none;
    }

    header #nav #nav-lower #join2{
        border-top: 1px solid #fff;
    }

    header #nav #nav-lower #join2, #login2{
        display: block;
    }

    
    #content section #vidtitle{
        width: 100%;
    }

}

/* 모바일 */
@media screen and (max-width: 500px){
    body{
        background: var(--main-color);
    }

#main .title{
    width: 60%;
    left: 50%;
    top:25%;
    transform: translateX(-50%);
}
header #nav{
    margin: 0 auto;
}

header #nav #nav-upper #logo img.logo1{
    display: none;
}
header #nav #nav-upper #logo img.logo2{
    display: block;
}
header #nav #nav-upper select{
    width: 30%;
    height: 24px;
    font-size: 12px;
    margin-top: 17px;
}
header #nav #nav-upper p:nth-of-type(1),
header #nav #nav-upper p:nth-of-type(2){
    margin: 20px 0 0 14px;
    font-size: 12px;
    align-content: center;
}

header #nav #nav-upper p:nth-of-type(1)::after{
    top:2px;
}

header{
    display: flex;
}

header #nav #nav-upper select {
    width: 40px;
    height: 30px;
}

header #nav #nav-lower{
    width: 100%;
    left: -100%;
}

#main{
    background: url(../images/가디언즈오브갤럭시배너2.jpg) center/cover;
    height:40vh;
}
#main::before{
    background: none;
}
#main::after{
    position: absolute;
    content: '';
    width:100%;
    height:30%;
    background:
    linear-gradient(to top, #181818 0, 
    rgba(23,23,23,0.98) 20%,
    rgba(23,23,23,0.95) 25%,
    rgba(23,23,23,0.92) 30%,
    rgba(23,23,23,0.9) 35%,
    rgba(23,23,23,0.87) 40%,
    rgba(23,23,23,0.82) 45%,
    rgba(23,23,23,0.75) 50%,
    rgba(23,23,23,0.63) 55%,
    rgba(23,23,23,0.47) 60%,
    rgba(23,23,23,0.27) 65%,
    rgba(23,23,23,0.08) 80%,
    rgba(23,23,23,0.03) 95%,
    rgba(23,23,23,0.0) 100%);
    bottom: 0;
    left:0;
}
#main2 ul{
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
    top:0;
    font-size: 14px;
    line-height: 50px;
    position: relative;
}

#detail .character li dt{
    height: 60%;
}

article #content3 p.similar{
    margin-bottom: 5%;
}

#content{
    margin-top: 0;
    position: relative;
}

#content section #vidtitle{
    width: 100%;
}

#content section #vidtitle dt{
    color: white;
}
#content section #vidtitle dd{
    color: white;
}

#content section #vidtitle dd::before{
    background: white;
}
#content div#detail ul{
    margin-top: 10%;
}

#content div#detail p.txt1{
    color: white;
    width: 50%;
    height: 8vh;
}

#detail .character li dd:nth-of-type(2) p{
    margin-left: 0;
}

#content div.line{
    align-content: center;
    display: flex;
    flex-direction: column;
}

#content div.line p{
    font: 14px 'Noto Sans KR';
    color: white;
}

#content section{
    margin-top: 50px;
}
#content section li{
    flex: 0 1 100%;
}

#content section li iframe{
    width:100%;
    height: 25vh;
    margin: 5% 0;
}

#detail .character li{
    flex: 0 1 80%;
    margin: 1%;
}

#detail .character li dl{
    width: 85%;
}
#detail .character li dt{
    width: 100%;
}
#detail .character li dd:nth-of-type(1){
    width: 100%;
}
#detail .character li dd:nth-of-type(2){
    width: 100%;
    
}
#detail .character li dt:hover{
    background-size: 110%;
}

article #content2 ul dl{
    padding: 30px 0;
}

article #content2 ul li{
    flex: 0 1 100%;
}

article #content3 ul li{
    flex: 0 1 100%;
    margin: 15px 0;
}
article #content4 li{
    flex: 0 1 100%;
    margin: 5% 0 5% 0;
}
article #content4 li dl{
    width: 100%;
    margin: auto;
    height: 300px;
}

article #content4 li dt{
    width: 100%;
    height: 60%;
}
article #content4 li dd:nth-of-type(1),
article #content4 li dd:nth-of-type(2){
    width: 100%;
    padding-top: 2%;
}
footer #footerbox{
    margin-top: auto;
}
footer p:nth-of-type(1){
    text-align: center;
    margin: 5% 0;
}
footer ul{
    flex-direction: column;
}
footer li:nth-of-type(1),
footer li:nth-of-type(2),
footer li:nth-of-type(3){
    display: none;
}
footer li:nth-of-type(4) dl{
    position: inherit;
    margin: auto;
}

footer p:nth-of-type(2){
    padding: 20px;
}
}